
/* Your CSS Code here. */
button:hover{
    background-color:yellow;
    color: black;
    border-radius: 30pxpx;
   border: none;


};

btn{
   background-attachment: black;
   color: white;
   border-radius: 5px;
   border: none;
   
}